body{
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
}

main{
    margin-left: 30px;
}

#activeNotes {
    width: 80%;
    padding-left: 5px;
}

table, th, td {
  border: none;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th, td {
    padding: 5px 3px;
  }

tr.regularRow{
    background-color: rgb(226, 223, 223);
    color: rgb(96, 92, 92);
    height: 35px;
}

table tr.regularRow:hover {background-color: rgb(186, 183, 183);}

th{
    background-color: gray;
}

td{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
}

th:first-child {
  border-radius: 5px 0 0 5px;
}

th:last-child {
  border-radius: 0 5px 5px 0;
}


table td:nth-child(1){
    padding-left: 10px;
    padding-right: 8px;
    width: 30px;
}

table td:nth-child(2){
    color: black;
    width: 25%;
}

table td:nth-child(3){
    width: 17%;
}

table td:nth-child(4){
    width: 16%;
}

table td:nth-child(5){
    width: 25%;
}

table td:nth-child(6){
    width: 16%;
}

table td:nth-child(7){
    width: 20px;
}

table td:nth-child(8){
    width: 20px;
}

table td:nth-child(9){
    width: 20px;
}

tr.tableHeader{
    color: white;
    height: 20px;
    text-align: left;
    /* background-color: gray; */
}

img.tableHeaderIcon{
    height: 20px;
    width: 20px;
}

img.categoryIcon{
    height: 30px;
    width: 30px;
}